/* video */
.elementor-widget-video .elementor-widget-container,
.elementor-widget-video:not(:has(.elementor-widget-container)) {
    overflow: hidden;
    transform: translateZ(0)
}

.elementor-widget-video .elementor-wrapper {
    aspect-ratio: var(--video-aspect-ratio)
}

.elementor-widget-video .elementor-wrapper iframe,
.elementor-widget-video .elementor-wrapper video {
    background-color: #000;
    border: none;
    display: flex;
    height: 100%;
    width: 100%
}

.elementor-widget-video .elementor-open-inline .elementor-custom-embed-image-overlay {
    background-position: 50%;
    background-size: cover;
    inset: 0;
    position: absolute
}

.elementor-widget-video .elementor-custom-embed-image-overlay {
    cursor: pointer;
    text-align: center
}

.elementor-widget-video .elementor-custom-embed-image-overlay:hover .elementor-custom-embed-play i {
    opacity: 1
}

.elementor-widget-video .elementor-custom-embed-image-overlay img {
    aspect-ratio: var(--video-aspect-ratio);
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    width: 100%
}

.elementor-widget-video .e-hosted-video .elementor-video {
    -o-object-fit: cover;
    object-fit: cover
}

.e-con-inner>.elementor-widget-video,
.e-con>.elementor-widget-video {
    width: var(--container-widget-width);
    --flex-grow: var(--container-widget-flex-grow)
}

/* end video */

/* image */
.elementor-widget-image {
    text-align: center
}

.elementor-widget-image a {
    display: inline-block
}

.elementor-widget-image a img[src$=".svg"] {
    width: 48px
}

.elementor-widget-image img {
    display: inline-block;
    vertical-align: middle
}

/* end image */

.prewedVideo {
    /* Start hidden and scaled down */
    opacity: 0;
    transform: scale(0.3);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.prewedVideo.animate {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    opacity: 1;
    /* Ensure fully visible */
    transform: scale(1);
    /* Ensure normal size */
}

#overlaypausedmusic {
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000085;
    border-radius: 100%;
    position: absolute;
    color: white;
    font-size: 12px;
    z-index: 3;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    opacity: 100;
}

.musicCover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
