/* Music Player */
#music-player {
    display: none;
    /* Hidden initially */
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 50%;
    z-index: 100;
    border: 2px solid white;
}

#musicToggle {
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#musicToggle i {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

/* Responsive */
@media (max-width: 600px) {
    #musicToggle {
        font-size: 18px;
    }
}

#music-player.playing {
    animation: pulse 1s infinite;
}

@media (prefers-color-scheme: dark) {
    #music-player {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    #musicToggle {
        color: black;
    }
}
